/* ================================
   RESET BÁSICO Y ESTILOS GLOBALES
   ================================ */

/* ================================
   COLORES
   ================================ */

:root {
  --white: #FEFEFE;
  --blue: #2E7FAE;
  --blue-dark: #1F5F86;
  --green: #4E8F6A;
  --black: #1F1F1F;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
  color: #212529;
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

nav, .sub-nav{
  background-color: var(--blue);
}

#burger-btn{
  background-color: var(--blue);
  border: 2px solid var(--black);
}

h1{
  color: var(--blue-dark);
  font-weight: 700;
}

h2{
  color: var(--blue)
}

.hero-carousel {
  height: 60vh;
  max-height: 600px;
}

@media (max-width: 768px) {
  .hero-carousel {
    height: 40vh;
  }
}

.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-img {
  height: 100%;
  object-fit: cover;
}

.bg-soft {
  background-color: #f5f7fa;
}

.division-title {
  color: var(--blue-dark);
  font-weight: 600;
}

.card {
  border-top: 4px solid var(--blue-dark);
}

section{
  margin-top: 1.5%;
  padding: 2.5rem 0;
}

footer {
  background-color: var(--blue);
  color: #ffffff;
  padding: 1rem;
  position: relative;
}

/* Línea verde superior decorativa */
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--green);
}

/* Texto del footer */
footer h5 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

/* Texto secundario */
footer p {
  margin: 0;
  font-size: 0.9rem;
  opacity: 0.9;
}

/* Links dentro del footer */
footer a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: underline;
}

footer a:hover{
  color: var(--blue-dark);
}